body {
  margin: 0;
  padding: 0;
}

:root {
  --container-bg: green;
}

.container {
  background: var(--container-bg);
  color: white;
}

section {
  border-top: 1px solid white; 
  margin-top: 20px;
} 